# Backend
backend/node_modules/
backend/.env
backend/.env.local
backend/.env.*.local
backend/npm-debug.log*
backend/yarn-debug.log*
backend/yarn-error.log*
backend/coverage/

# Frontend
frontend/node_modules/
frontend/dist/
frontend/.vite/
frontend/coverage/
frontend/*.local
frontend/env.local
frontend/.env.local
frontend/.env.*.local

# Systemowe
.DS_Store
Thumbs.db
*.log

# IDE
.vscode/
.idea/
*.swp
*.swo

# Temp files
*.tmp
*.temp